:root{
    --bg: rgb(219, 255, 248);
    --nav-bg: rgba(172, 187, 255, 0.97);
    --border-radius-l:25px;
    --border-radius-s:10px;
    --bg-darker: #3a5a55b0;
    --bg-lighter: rgb(135, 207, 177)
}

/* width */
::-webkit-scrollbar {
    width: 1.5ch;
    max-width: 1ch;
    margin: 2vh;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg-darker);
    border-radius: var(--border-radius-l);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius-l);
    background: var(--bg-lighter);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--nav-bg);
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--bg);
    margin: 1ch 2ch;
    padding-top: 1ch;
    /* text-align: center; */
    background-attachment: fixed;
}

.sticky-top{
    top: 2ch;
}

.navbar{
    margin-bottom: 2ch;
    text-align: center;

}
.nav{
    align-items: center;
    gap: 1ch;
}
.navbar-brand{
    position: fixed;
    top: 3.8ch;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 1270px) and (min-width: 991px){
    .navbar-brand{
        position: fixed;
        top: 3.8ch;
        left: 80%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 991px) {
    .nav{
        flex-direction: column;
    }
}

#myTab > .nav-item *{
    border-radius: var(--border-radius-s);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: rgb(41, 65, 44);
  background-color: var(--bg)
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: black;
    background-color: rgba(233, 219, 255, 0.911);
}


.navbar, .dropdown-menu, .navbar-toggler {
    background-color: var(--nav-bg);
    border-radius: var(--border-radius-l);
    justify-content: center;
}
.dropdown-item:hover{
    border-radius: var(--border-radius-s);
}
